*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: sticky;
    top: 0;
    font-family: var(--default-font);
    z-index:1000;
}

.top-nav{
    font-weight: 400;
    background: var(--accent-color);
    color: var(--surface-color);
    height: 30px;
    padding-top: 8px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.custom-icon{
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: -2px;
    font-size: 18px;
}

.bottom-nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--nav-color);
    padding-bottom: 10px;
    background: var(--surface-color);
}

.bottom-nav .logo{
    display: flex;
    height: 36px;
    margin-right: 8px;
}

.bottom-nav .nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links ul{
    margin-left: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.nav-links ul li{
    text-transform: uppercase;
    font-family: var(--nav-font);  
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    justify-content: space-between;
    padding: 18px 8px;
}