
:root{
    --nav-color: #444444;
    --default-color: #444444;
    --heading-color: #555555;
    --accent-color: #3fbbc0;
    --surface-color: #ffffff;

    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
}

.common-padding{
    padding: 0px 80px;
}